* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color:beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color:white;
    border-radius: 5px;
    width: 400px;
    height: 600px;
    padding: 15px;

}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    display: flex;
    justify-content:center ;
    
    
}

.input-group {
    display: flex;
    margin-bottom: 15px;
    background-color: white;
    align-items: center;
    
    
    

}

#text-input-field {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color:azure;
    height: 50px;
}

#add-button {
    padding: 7px 9px;
    border: none;
    transition-property: all;
    transition-duration: 0.2s;
    border-width: 2px;
    border-color: black;
    

    
    background-color: rgb(252, 255, 255);
}
#add-button:hover{
    opacity: 0.5;
}

.todos-container {
    overflow-y: scroll;
    background-color: aliceblue;
    
}

.todo-item-container {
    display: flex;
    margin-bottom: 5px;
}

#todo-text {
    width: 100%;
    font-size: 30px;
    letter-spacing: 1.5px;
    user-select: none;
    display: flex;
    align-items: center;
    
}

.line-through {
    text-decoration: double line-through;
    color: rgb(11, 11, 13);
}

#edit-button,
#delete-button {
    padding: 5px;
    border: none;
    background-color: transparent;
    transition-property: all;
    transition-duration: 0.2s;
    background-color: aliceblue;
}


#delete-button:hover{
    opacity: 0.5s;
}
